<nav style="padding-bottom: 3em">
  <a [routerLink]="['accounts']" style="padding: 1em">
    <button mat-raised-button color="primary">Conturi</button>
  </a>
  <a [routerLink]="['transactions']" style="padding: 1em">
    <button mat-raised-button color="primary">Tranzactii</button>
  </a>
  <a [routerLink]="['perioada-timp']" style="padding: 1em">
    <button mat-raised-button color="primary">Perioada de timp</button>
  </a>
  <a [routerLink]="['solduri-totale']" style="padding: 1em">
    <button mat-raised-button color="primary">Solduri Totale</button>
  </a>
  <a [routerLink]="['cont-tip']" style="padding: 1em">
    <button mat-raised-button color="primary">Conturi de un anumit tip</button>
  </a>

</nav>
<router-outlet></router-outlet>
