<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
  <h2> Add transaction </h2>

  <mat-form-field appearance="outline">
    <mat-label>Creditor Account Number: </mat-label>
    <input matInput id="cred-acc-number" type="number" formControlName="idCredAcc">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Debitor Account Number: </mat-label>
    <input matInput id="deb-acc-number" type="number" formControlName="idDebAcc">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Transactioned Sum: </mat-label>
    <input matInput id="processed-sum" type="number" formControlName="sum">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Transaction Description: </mat-label>
    <input matInput id="transaction-desc" type="text" formControlName="desc">
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit"> Submit</button>
</form>

<app-transaction-table [data]="transactions"></app-transaction-table>

